.banner {
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 3px;
    border-radius: 4px;

    &-success {
        color: rgb(39, 105, 39);
        background-color: rgb(168, 231, 168);
    }
    
    &-failure {
        color: rgb(149, 41, 41);
        background-color: rgb(233, 166, 166); 
    }
}