@import './common.scss';

.banner {
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 3px;
    border-radius: 4px;

    &-success {
        color: $success-font-color;
        background-color: $success-background-color;
    }

    &-failure {
        color: $failure-font-color;
        background-color: $failure-background-color;
    }
}