@import './common.scss';

.button {
    font-size: 18px;
    font-family: $body-font;
    border: none;
    border-radius: $border-radius-app;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;

    &#add-trip-button {
        width: 70%;
        background-color: lightblue;
    }

    &:hover {
        cursor: pointer;
    }
}