@import "images.css";
@import "contents.css";
@import "text.css";

.base-grid {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hd"
        "ab"
        "ct"
        "ft";
}

.header {
    grid-area: hd;
    border-bottom: 2px solid #2c69b0;
}

.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.top-nav-button {
    font-family: "Quicksand", Verdana, sans-serif;
    font-size: 16px;
    border: none;
    background: white;
}

.footer {
    grid-area: ft;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid #2c69b0;
}

.about {
    grid-area: ab;
    border-radius: 7px;
    padding: 8px;
    background-color: #F2F2F2;
}

.author-card {
    display: flex;
    gap: 10px;
}

@media (min-width:600px) {
    .base-grid {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            "hd hd"
            "ct ab"
            "ft ft";
    }

    .author-card {
        flex-direction: column;
    }
}