@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", Verdana, sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 600;
    margin-top: 0px;
}

h2 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0px;
}

h3 {
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0px;
}

p {
    margin-bottom: 5px;
    margin-top: 0px;
}

.base-grid {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hd"
        "ab"
        "ct"
        "ft";
}

.header {
    grid-area: hd;
    border-bottom: 2px solid #2c69b0;
}

.content {
    grid-area: ct;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.blog-link-box {
    border: 1px solid #F2F2F2;
    border-radius: 7px;
    padding: 8px;
}

.added-on-date {
    color: grey;
    font-style: italic;
    font-size: 0.9em;
}

.footer {
    grid-area: ft;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px solid #2c69b0;
}

.about {
    grid-area: ab;
    border-radius: 7px;
    padding: 8px;
    background-color: #F2F2F2;
}

@media (min-width:600px) {
    .base-grid {
        display: grid;
        gap: 10px;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            "hd hd"
            "ct ab"
            "ft ft";
    }
}