body {
    font-family: sans-serif;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

h2 {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.base-grid {
    display: grid;
    grid-template-rows: 80px 1fr 50px; 
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "hd hd"
        "ct ab"
        "ft ft";
}

.header {
    grid-area: hd;
    border: 2px solid red;
}

.content {
    grid-area: ct;
    display:flex;
    flex-direction: column;
    border: 2px solid red;
}

.blog-link-box {
    border: 2px solid green;
}

.added-on-date {
    color: grey;
    font-style: italic;
    font-size: 0.9em;
}

.footer {
    grid-area: ft;
    border: 2px solid red;
}

.about {
    grid-area: ab;
    border: 2px solid red;
}