<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Travel Planner</title>
    </head>

    <body>
        <div id="header">
            <h1>🗒 Simple Travel Planner (Beta)</h1>
        </div>
        <div id="app">
            <div id="side-panel">
                <button id="add-trip-button" class="button">+ Add trip</button>
                <div id="trips-list"></div>
            </div>
            <div id="trip-panel">
                <div id="trip-header">
                    <p>Select a trip on the left to see details here.</p>
                </div>
                <div id="trip-actions" hidden>
                    <button id="add-destination-button" class="button">
                        + Add destination
                    </button>
                </div>
            </div>
            <!-- MODALS - HIDDEN BY DEFAULT  -->
            <div id="new-destination-modal" class="modal">
                <div class="modal-content">
                    <span class="close-x">&times;</span>
                    <form>
                        <label for="destName">Destination name (city): </label> <br>
                        <input
                            type="text"
                            id="destName"
                            name="destName"
                            placeholder="Paris"
                            required
                        /><br />
                        <label for="startDate">Start date: </label>
                        <input
                            type="date"
                            id="startDate"
                            name="startDate"
                            required
                        />
                        <br />
                        <label for="endDate">End date: </label>
                        <input
                            type="date"
                            id="endDate"
                            name="endDate"
                            required
                        /><br />
                        <input class="button" type="submit" />
                    </form>
                </div>
            </div>
            <div id="new-trip-modal" class="modal">
                <div class="modal-content">
                    <span class="close-x">&times;</span>
                    <form>
                        <label for="tripName">Trip name: </label><br>
                        <input
                            type="text"
                            id="tripName"
                            name="tripName"
                            placeholder="Ex: Honeymoon in Europe!"
                            required
                        /><br />
                        <label for="startDate">Start date: </label>
                        <input
                            type="date"
                            id="startDate"
                            name="startDate"
                            required
                        />
                        <br />
                        <label for="endDate">End date: </label>
                        <input
                            type="date"
                            id="endDate"
                            name="endDate"
                            required
                        /><br />
                        <input class="button" type="submit" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
